<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <ul style="display: flex; justify-content: space-between;">
      <li><a href="http://localhost:8080/repertorio">Repertorio</a></li>
      <li><a href="http://localhost:8080/home">Pantalla principal</a></li>
      <li><a href="http://localhost:8080/enlaces">Enlaces Externos</a></li>
    </ul>
  </header>

  <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
    <figure style="text-align: center; max-width: 250px;">
      <img src="./images/chopinmallorca.png" alt="Bust of Chopin in Mallorca"
        style="width: 100%; height: auto; border-radius: 8px;">
      <figcaption>Bust of Chopin in Mallorca</figcaption>
    </figure>

    <figure style="text-align: center; max-width: 250px;">
      <img src="./images/chopinimagecamera.png" alt="Photograph taken of Chopin"
        style="width: 100%; height: auto; border-radius: 8px;">
      <figcaption>Photograph taken of Chopin</figcaption>
    </figure>

    <figure style="text-align: center; max-width: 250px;">
      <img src="./images/georgesand.png" alt="Photograph taken of George Sand"
        style="width: 100%; height: auto; border-radius: 8px;">
      <figcaption>Photograph taken of George Sand</figcaption>
    </figure>

    <figure style="text-align: center; max-width: 250px;">
      <img src="./images/retratochopin.jpg" alt="Photograph taken of George Sand"
        style="width: 100%; height: auto; border-radius: 8px;">
      <figcaption>portrait of Chopin</figcaption>
    </figure>

    <figure style="text-align: center; max-width: 250px;">
      <img src="./images/cuadrochopin1.jpg" alt="Photograph taken of George Sand"
        style="width: 100%; height: auto; border-radius: 8px;">
      <figcaption>Painting of Chopin playing the piano</figcaption>
    </figure>
  </div>

</body>

</html>